@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 47% 88%; /* #F0D0F0 */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 300 100% 50%; /* #FF00FF */
    --primary-foreground: 300 0% 100%; /* White for better contrast on magenta */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 182 100% 74%; /* #7DF9FF */
    --accent-foreground: 222.2 47.4% 11.2%; /* Dark for contrast on light blue */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 300 100% 50%;

    --radius: 0.5rem;
    --chart-1: 222.2 47.4% 11.2%;
    --chart-2: 210 40% 96.1%;
    --chart-3: 210 40% 98%;
    --chart-4: 215.4 16.3% 46.9%;
    --chart-5: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 300 100% 50%;
    --primary-foreground: 300 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 182 100% 74%;
    --accent-foreground: 222.2 47.4% 11.2%; /* Dark for contrast on light blue */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 300 100% 50%;
    --chart-1: 210 40% 98%;
    --chart-2: 217.2 32.6% 17.5%;
    --chart-3: 222.2 47.4% 11.2%;
    --chart-4: 215 20.2% 65.1%;
    --chart-5: 210 40% 96.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient {
    background-image: linear-gradient(
      -45deg,
      hsl(var(--primary)),
      #c084fc,
      hsl(var(--accent)),
      hsl(var(--primary))
    );
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
